.inner {
  --gap: theme(spacing.4);
  --gap-md: theme(spacing.6);
  --gap-lg: theme(spacing.7);
  --gap-xl: theme(spacing.7);
  --gap-2xl: theme(spacing.7);
  gap: var(--gap-override, var(--gap));
}

.inner::before,
.inner::after {
  content: '';
  align-self: stretch;
  margin-left: calc(var(--gap-override, var(--gap)) * -1);
}

.inner::before {
  padding-inline-start: max(
    theme(container.padding),
    ((100vw - theme(screens.sm)) / 2) + theme(container.padding)
  );
}

.inner::after {
  padding-inline-end: max(
    theme(container.padding),
    ((100vw - theme(screens.sm)) / 2) + theme(container.padding)
  );
}

@media screen(md) {
  .inner {
    gap: var(--gap-override, var(--gap-md));
  }

  .inner::before,
  .inner::after {
    margin-left: calc(var(--gap-override, var(--gap-md)) * -1);
  }

  .inner::before {
    padding-inline-start: max(
      theme(container.padding),
      ((100vw - theme(screens.md)) / 2) + theme(container.padding)
    );
  }

  .inner::after {
    padding-inline-end: max(
      theme(container.padding),
      ((100vw - theme(screens.md)) / 2) + theme(container.padding)
    );
  }
}

@media screen(lg) {
  .inner {
    gap: var(--gap-override, var(--gap-lg));
  }

  .inner::before,
  .inner::after {
    margin-left: calc(var(--gap-override, var(--gap-lg)) * -1);
  }

  .inner::before {
    padding-inline-start: max(
      theme(container.padding),
      ((100vw - theme(screens.lg)) / 2) + theme(container.padding)
    );
  }

  .inner::after {
    padding-inline-end: max(
      theme(container.padding),
      ((100vw - theme(screens.lg)) / 2) + theme(container.padding)
    );
  }
}

@media screen(xl) {
  .inner {
    gap: var(--gap-override, var(--gap-xl));
  }

  .inner::before,
  .inner::after {
    margin-left: calc(var(--gap-override, var(--gap-xl)) * -1);
  }

  .inner::before {
    padding-inline-start: max(
      theme(container.padding),
      ((100vw - theme(screens.xl)) / 2) + theme(container.padding)
    );
  }

  .inner::after {
    padding-inline-end: max(
      theme(container.padding),
      ((100vw - theme(screens.xl)) / 2) + theme(container.padding)
    );
  }
}

@media screen(2xl) {
  .inner {
    gap: var(--gap-override, var(--gap-2xl));
  }

  .inner::before,
  .inner::after {
    margin-left: calc(var(--gap-override, var(--gap-2xl)) * -1);
  }

  .inner::before {
    padding-inline-start: max(
      theme(container.padding),
      ((100vw - theme(screens.2xl)) / 2) + theme(container.padding)
    );
  }

  .inner::after {
    padding-inline-end: max(
      theme(container.padding),
      ((100vw - theme(screens.2xl)) / 2) + theme(container.padding)
    );
  }
}
