name: Deploy Production

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: Production
      url: https://www.tvseri.es
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_TEAM_ID }}
      VERCEL_TELEMETRY_DISABLED: 1
      NEXT_TELEMETRY_DISABLED: 1
      PULUMI_LOG_LEVEL: debug
      PULUMI_LOG_TO_STDERR: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_PROD }}
          aws-region: eu-west-2

      - name: Setup AWS Profile
        run: |
          aws configure set region eu-west-2 --profile tvseries-production
          aws configure set aws_access_key_id ${{ env.AWS_ACCESS_KEY_ID }} --profile tvseries-production
          aws configure set aws_secret_access_key ${{ env.AWS_SECRET_ACCESS_KEY }} --profile tvseries-production
          aws configure set aws_session_token ${{ env.AWS_SESSION_TOKEN }} --profile tvseries-production

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Add SST bin to PATH (workaround for SST issue #6314)
        run: echo "$HOME/.config/sst/bin" >> $GITHUB_PATH

      - name: Setup SST secrets
        run: |
          pnpm sst secret set MdblistApiKey "${{ secrets.MDBLIST_API_KEY }}" --stage production
          pnpm sst secret set TmdbApiAccessToken "${{ secrets.TMDB_API_ACCESS_TOKEN }}" --stage production
          pnpm sst secret set TmdbApiKey "${{ secrets.TMDB_API_KEY }}" --stage production
          pnpm sst secret set GoogleClientId "${{ secrets.GOOGLE_CLIENT_ID }}" --stage production
          pnpm sst secret set SessionSecret "${{ secrets.SESSION_SECRET }}" --stage production

      - name: Deploy Production
        env:
          AWS_HOSTED_ZONE_ID_PROD: ${{ secrets.AWS_HOSTED_ZONE_ID_PROD }}
          SST_LOG_LEVEL: debug
          VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
          VERCEL_TEAM_ID: ${{ secrets.VERCEL_TEAM_ID }}
        run: pnpm sst deploy --stage production --verbose
        timeout-minutes: 10

      - name: Unlock SST on failure
        if: ${{ failure() || cancelled() }}
        run: pnpm sst unlock --stage production
